html, body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent element */
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  height: 400px;
  color: #fff;
  background-color: #0f0000;
  margin-top: auto;
}

.footer_inner {
  display: flex;
  flex-wrap: wrap;
}

.footer_item {}

.header{
  height: 100px;
}

.header-inner{
  display: flex;
  flex-direction: column;
}

.header-inner-top{
  display: flex;
  justify-content: space-between;
  padding: 5px 1px;
  border-bottom: 1px solid gray;
}

.header .header-item{
  padding: 5px;
}

.header-inner-bottom{
  display: flex;
  justify-content: center;
  padding: 5px 1px;
  border-bottom: 1px solid gray;
}

.product-item {
  height: 400px;
  width: 300px;
  cursor: pointer;
}

.product-item_image-wrapper {
  position: relative;
  height: 340px;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item_title, .product_item_price, .product_item_add-to-cart {
  text-align: center;
}

.cart{
  background-color: #c2a289;
    position: absolute;
    top: 80px;
    height: 100%;
    left: 0;
    z-index: 1;
    width: 25%;
}

.product_item_add-to-cart {
  height: 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #c2a289;
}

.related-products {
  border: 1px solid rgba(228, 228, 228);
  display: flex;
  overflow-x: auto;
}

.product-detail{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-detail-inner{
  width:50%
}

.product-detail-inner-image{
  height:340px ;
  position: relative;
}