html, body {
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

.footer {
  height: 400px;
  color: #fff;
  background-color: #0f0000;
}

.footer_inner {
  display: flex;
  flex-wrap: wrap;
}

.footer_item {

}