html, body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent element */
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  height: 400px;
  color: #fff;
  background-color: #0f0000;
  margin-top: auto;
}

.footer_inner {
  display: flex;
  flex-wrap: wrap;
}

.footer_item {}

.header{
  display: flex;
  flex-direction: column;
}

.header-inner-top{
  display: flex;
  justify-content: space-between;
  padding: 5px 1px;
  border-bottom: 1px solid gray;
}

.header .header-item{
  padding: 5px;
}

.header-inner-bottom{
  display: flex;
  justify-content: center;
  padding: 5px 1px;
  border-bottom: 1px solid gray;
}

.product-item {
  height: 400px;
  width: 300px;
  cursor: pointer;
}

.product-item_image-wrapper {
  position: relative;
  height: 340px;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item_title, .product_item_prize, .product_item_add-to-cart {
  text-align: center;
}

.product_item_add-to-cart {
  height: 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #c2a289;
}